*
!Containerfile
!dev/
!dev/Containerfile
!dev/arch-packages
!deploy/
!deploy/arch-packages
!deploy/entrypoint.py
!deploy/gunicorn.conf.py
!config.py
!config/
!config/00-default.conf
!trackerctl
!tracker/
!tracker/**
!migrations/
!migrations/**
!.external/
!.external/normalize.css/
!.external/normalize.css/normalize.css
!.external/archlinux-common-style/
!.external/archlinux-common-style/img/
!.external/archlinux-common-style/img/archlogo.8a05bc7f6cd1.svg
!.external/archlinux-common-style/img/favicon.ico
!LICENSE
**/__pycache__
**/.git
**/*.local.conf
**/*.db*
